body {
    font-family: font-family: 'Assistant', sans-serif;
    color: saddlebrown; 
    margin: 0;
    line-height: 1.5;
}
h1 {
    color: darkred; 
    font-family: 'Amatic SC', cursive; 
    font-size: 45px;
    font-weight: 700;
    }
h2 {color: darkslategrey}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h2 {
    font-family: 'Amatic SC', cursive; 
    font-size: 38px;
    font-weight: 700;
}
h3 {color: 
    
}
h3 {
    font-family: 'Amatic SC', cursive; 
    font-size: 30px;
    font-weight: 400;  
}
.container {
    width: 800px;
}

div {
    max-width: 800px;
    margin: auto;
}

.cta {
  background: beige;
    font-size: 21px;
    text-align: center;
    padding: 20px;
}
.cta h3 {
    color: black;
}

.button {
    background: #08c;
    color: #fff;
    text-decoration: none;
    padding: 14px;
}
