body {
    font-family: fantasy;
    color: saddlebrown; 
    margin: 0;
    line-height: 1.5;
}
h1 {
    color: darkred; 
    }
h2 {color: darkslategrey}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}